h1 {
  margin: 12px 0;
  font-size: 48px;
  color: rgb(71, 62, 62);
}

/* #description {
  margin-bottom: 36px;
} */

header p {
  margin-bottom: 36px;
}

a {
  padding: 12px 48px;
  background-color: rgb(167, 1, 78);
  color: white;

  border-radius: 4px;
  font-size: 24px;
}

a:hover {
  text-decoration: none;
  background-color: #66101f;
}

ol {
  list-style: none;
  width: 500px;
  margin: 36px auto 0 auto;
  padding: 0;
}

li {
  padding: 16px;
  margin: 32px;
  background-color: #e78f8e;
  border-radius: 6px;
}

h2 {
  color: rgb(90, 17, 19);
  font-family: "Oswald", sans-serif;
}

main p {
  margin: 12px;
  color: #66101f;
}
