h1 {
  margin: 12px;
  font-size: 48px;
  color: rgb(71, 62, 62);
}

a {
  padding: 12px;
  background-color: rgb(167, 1, 78);
  color: white;

  border-radius: 4px;
  font-size: 24px;
}

a:hover {
  text-decoration: none;
  background-color: #66101f;
}

ol {
  list-style: none;
}

li {
  margin: 32px;
  background-color: #e78f8e;
  border-radius: 6px;
}
