body {
  text-align: center;
  background-color: #f3e1dd;
  margin: 50px;
}

h1 {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Fira Sans", sans-serif;
  color: #534b4b;
  font-size: 24px;
}

a {
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
}

a:hover {
  text-decoration: underline;
}
