body {
  text-align: center;
  background-color: #ffd9da;
  margin: 50px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%; /* half of width and height */
}

h1 {
  font-family: "Oswald", sans-serif;
  color: #f02d3a;
}

p {
  font-family: "Fira Sans", sans-serif;
  color: #534b4b;
}

a {
  color: rgb(167, 1, 78);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#todays-challenge {
  color: rgb(176, 96, 83);
  font-weight: bold;
  font-size: 52px;
}
